<!DOCTYPE html>
<html
        layout:decorate="~{layout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Connector Configuration</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container">
        <script type="application/javascript">
            // On ready register handlers
            jQuery(document).ready(function () {

                // Handle selecting a cluster.
                jQuery('#clusterId').change(function () {
                    var clusterId = jQuery('#clusterId').val();
                    ApiClient.getPlugins(clusterId, function (pluginList) {
                        var pluginSelector = jQuery('#connector');
                        jQuery(pluginSelector).empty();
                        jQuery(pluginSelector).removeAttr('disabled');
                        jQuery(pluginSelector).append(jQuery('<option></option>')
                            .attr('value', '!')
                            .text('Please select a Plugin')
                        );
                        jQuery.each(pluginList, function (index, plugin) {
                            jQuery(pluginSelector)
                                .append(
                                    jQuery('<option></option>')
                                        .attr('value', plugin.nameClass)
                                        .text(plugin.namePlugin)
                                );
                        });
                    });
                });

                // Handle selecting a plugin
                jQuery('#connector').change(function () {
                    var plugin = jQuery(this).val();
                    var form = jQuery('#formPlugin');

                    if (plugin === '!') {
                        form.empty();
                    }
                    var clusterId = jQuery('#clusterId').val();

                    form.empty();
                    ApiClient.getPluginDetails(clusterId, plugin, function (results) {
                        jQuery.each(results.configValidationResults.configs, function (index, plugin) {
                            var required = "";
                            var block = "";
                            var value = "";
                            var type = plugin.definition.type;
                            var name = plugin.definition.name;
                            var placeholder = plugin.definition.documentation;

                            if (name == "connector.class") {
                                block = 'readonly="readonly"';
                                // placeholder = plugin.value.value;
                                value = 'value="' + plugin.value.value + '"';
                            }

                            if (plugin.definition.required) {
                                required = "required";
                            }

                            switch (type) {
                                case "INT":
                                    type = 'number';
                                    break;

                                case "STRING":
                                    type = 'text';
                                    break;
                            }

                            var labelField = '<label class="col-md-3 form-control-label" for="' + plugin.definition.name + '">' + plugin.definition.displayName + ' </label>\n';
                            var valueField = '<div class="col-md-9"> <input class="form-control" ' +
                                'name="' + name + '" ' +
                                'id="' + name + '" ' +
                                'type="' + type + '" ' +
                                value + ' ' +
                                required + ' ' +
                                block + ' ' +
                                'placeholder="' + placeholder + ' "> </div>\n';
                            var formField = '<div class="form-group row"> ' + labelField + valueField + ' </div>';

                            jQuery(form).append(jQuery(formField));

                        });
                    });
                });
            });
        </script>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong th:text="${connectorForm.exists()} ? 'Edit Connector' : 'Create'">Create</strong>
                        <span th:text="${connectorForm.exists()} ? ${connectorForm.name} : 'New Connector'"></span>
                    </div>
                    <form class="form-horizontal" method="post"
                          th:action="@{/configuration/connector/update}"
                          th:object="${connectorForm}">

                        <div class="card-body">
                            <!-- Topic Options -->
                            <h6>Connector Selection</h6>
                            <hr>

                            <!-- Cluster -->
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="clusterId">
                                    Cluster
                                </label>
                                <div class="col-md-9">
                                    <select
                                            class="form-control" id="clusterId" name="clusterId"
                                            th:errorclass="is-invalid"
                                            th:field="*{clusterId}">
                                        <option value="">Please select a cluster</option>
                                        <option th:each="cluster : ${clusters}"
                                                th:text="${cluster.name}" th:value="${cluster.id}">Cluster Name
                                        </option>
                                    </select>
                                    <div class="invalid-feedback" th:errors="*{clusterId}"
                                         th:if="${#fields.hasErrors('clusterId')}"></div>
                                </div>
                            </div>

                            <!-- Connector -->
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="connector">
                                    Connector
                                </label>
                                <div class="col-md-9">
                                    <select
                                            class="form-control" id="connector" name="connector"
                                            th:attr="disabled=${plugins.isEmpty()}? 'disabled'"
                                            th:errorclass="is-invalid"
                                            th:field="*{connector}">
                                        <option value="!">Please select a Plugin</option>
                                        <option th:each="plugin : ${plugins}" th:if="${plugins} != null"
                                                th:text="${plugin.namePlugin}" th:value="${plugin.namePlugin}">Plugin
                                            Name
                                        </option>
                                    </select>
                                    <div class="invalid-feedback" th:errors="*{connector}"
                                         th:if="${#fields.hasErrors('connector')}"></div>
                                </div>
                            </div>

                            <!-- Fields -->
                            <div id="formPlugin">

                            </div>
                        </div>

                        <!-- Footer -->
                        <div class="card-footer">
                            <input name="id" th:field="*{id}" th:if="${connectorForm.exists()}" type="hidden"></input>
                            <button class="btn btn-sm btn-primary" type="submit">
                                <i class="fa fa-dot-circle-o"></i>
                                Submit
                            </button>
                            <a class="btn btn-sm btn-danger" role="button" th:href="@{/configuration/connector}">
                                <i class="fa fa-ban"></i>
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>